torch>=2.0.0
torchaudio>=2.0.0
numpy
scipy
librosa>=0.9.1
transformers>=4.33.0
sentencepiece
omegaconf
tqdm
huggingface_hub
safetensors
textstat
cn2an
pypinyin
jieba
g2p_en
funasr
onnxruntime
modelscope
